.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.header-logo {
  height: 50px;
  margin-right: 15px;
}

.header-text {
  font-size: 3rem;
}

.header {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  top: 10px;
  text-align: left;
}

.logout-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
}

.logout-button {
  margin: 10px;
}

.paper {
  padding: 20px;
  margin: 20px 0;
}

.file-list-paper {
  margin-top: 20px;
}

.error-message {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .header-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    min-width: 400px;
  }

  .header-text {
    font-size: 18px;
  }

  .paper {
    margin: 5px 0;
  }
}